.aboutUsercontainer {
  display: flex;
  background-color: darkseagreen;
  width: 100%;
  height: 280px;
  border-radius: 5px;
  /* display: block; */
  flex-direction: column;
  align-items: center;
  float: right;
}

.containerAbout {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;

  flex-wrap: wrap;
  width: 95%;
  height: 65%;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  /* padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 5px;
  height: 25vh;
  min-height: 25vh;
  align-self: auto; */
}
.information {
  align-items: baseline;
  width: 100%;
  order: 1;
}
.buttonDel {
  margin-right: 10px;
  margin-bottom: 10px;
}

.text {
  color: black;
}

.deleteButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.titleUsers {
  color: white;
  text-align: center;
  padding: 5px;
}
